a {
  text-decoration: none !important;
}

span {
  line-height: 35px;
}

.btn {
  display: inline-block !important;
}

p {
  font-size: 22px !important;
}

.main-title {
  margin-bottom: 0px !important;
}

.title {
  margin-top: 150px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 400 !important;
}

.main {
  overflow: hidden !important;
  background-color: #660066 !important;
}

.purple-1 {
  background-image: url('purple-1.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.purple-2 {
  background-image: url('purple-2.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.purple-3 {
  background-image: url('purple-3.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden !important;
}

.purple-4 {
  background-image: url('purple-4.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden !important;
}

.navbar-color-on-scroll {
  background-color: rgb(102,0,102) !important;
}

.sidebar-collapse .navbar-collapse:before {
  background: url('purple-1.png') !important;
}

.skooma-bottle {
  margin-top: 43vh;
  height: 50%;
}

.map {
  margin-top: 100px;
  height: 20%;
  width: 50%;
}

.origin-section {
  margin-top: 10% !important;
}

.origin-text {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 10px;
}

.origin-card {
  margin-top: -5vh;
  width: 55% !important;
}

.skooma-ingredients-intro {
  margin-top: 10% !important;
  font-size: 26px !important;
  font-weight: 300 !important;
  color: #fff;
}

.moonsugar {
  background-image: url("moonsugar.png");
  margin-right: 50px;
  margin-top: 80px !important;
}

.moonsugar-card {
  right: 10%;
  margin-top: -5vh;
  width: 55% !important;
}

.moonsugar-text {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}

.nightshade {
  background-image: url("nightshade.jpg");
  margin-top: 100px !important;
  height: 355px !important;
  margin-left: 100px !important;
}

.nightshade-card {
  left: 25%;
  margin-top: -5vh;
  width: 55% !important;
}

.nightshade-text {
  margin-top: 100px;
  padding-bottom: 50px;
  color: #fff;
}

.image-container {
  margin-top: 50px;
  height: 255px;
  position: relative;
  background-position: 50%;
  background-size: cover;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);
  border-radius: .25rem;
  width: 10rem;
}

.blockquote {
  background: #fff !important;
}

.testimonial-img {
  max-width: 150px;
}

.btn-primary {
  background-color: rgb(102,0,102) !important;
}

.subscribe-page {
  background-color: #fff !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden !important;
}
