.main {
  overflow: hidden !important;
  background-color: #660066 !important;
}

.purple-1 {
  background-image: url('purple-1.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.purple-2 {
  background-image: url('purple-2.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.purple-3 {
  background-image: url('purple-3.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden !important;
}

.bg-primary {
  background-color: #000 !important;
}

.sidebar-collapse .navbar-collapse:before {
  background: url('purple-1.png') !important;
}

.moonsugar {
  height: 100%;
}

.moonsugar-card {
  margin-top: 40px !important;
}

.nightshade-card {
  margin-top: 180px !important;
}



.image-container {
  height: 255px;
  position: relative;
  background-position: 50%;
  background-size: cover;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,.3);
  border-radius: .25rem;
  width: 30rem;
}

.blockquote {
  background: #fff !important;
}

.moon-page {
  background-color: #f4f4f4 !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow: hidden !important;
}
